# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables files
.env

# Ignore log files
*.log

# Ignore data files
data/

# Ignore compiled files
*.o
*.so
*.out

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/